@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Safari detay oku kaldır */
summary::-webkit-details-marker {
  display: none;
}

.ata-bg {
  position: relative;
}

.ata-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background:
    url("/ata-logo.png") no-repeat,
    url("/turk_bayragi_logo.png") no-repeat,
    url("/stage-logo.png") no-repeat;

  /* 🔥 3 LOGO AYNI HİZADA */
  background-position:
    calc(50% - 460px) 60%,
    50% 60%,
    calc(50% + 460px) 60%;

  /* 🔥 HEPSİ AYNI BOYUT */
  background-size:
    clamp(300px, 15vw, 220px),
    clamp(500px, 15vw, 220px),
    clamp(300px, 15vw, 220px);

  opacity: 0.08;
}

@media (max-width: 768px) {
  .ata-bg::before {
    /* 3 logo dikey sıraya geçiyor */
    background:
      url("/ata-logo.png") no-repeat center 28%,
      url("/turk_bayragi_logo.png") no-repeat center 50%,
      url("/stage-logo.png") no-repeat center 72%;

    /* mobilde daha dengeli boyutlar */
    background-size:
      clamp(160px, 40vw, 220px),
      clamp(170px, 44vw, 240px),
      clamp(160px, 40vw, 220px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}