@import "tailwindcss";

/* Tarayıcının otomatik dark renklendirmesini kapat */
:root {
  color-scheme: light;
}

body {
  background: #fff;
  /* dış zemin koyu */
  color: #EDEDED;
  font-family: Arial, Helvetica, sans-serif;
}

summary::-webkit-details-marker {
  display: none;
}