@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

summary::-webkit-details-marker {
  display: none;
}